body {
  /*margin:40px auto;*/
  /*max-width:650px;*/
  /*line-height:1.6;*/
  /*font-size:18px;*/
  /*color:#444;*/
  /*padding:0 10px;*/
  font-family: Ubuntu;
}

.md code {
  font-family: "Ubuntu Mono", monospace;
  font-size: 15px;
}

code, pre, .codelike {
  font-family: "Ubuntu Mono", monospace;
  font-size: 15px;
}

/*h1,h2,h3 {
  line-height:1.2;
}*/
